// http://ionicframework.com/docs/v2/theming/


// App Shared Variables
// --------------------------------------------------
// Shared Sass variables go in the app.variables.scss file
@import 'app.variables';


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here


// Ionic iOS Sass
// --------------------------------------------------
// Custom App variables must be declared before importing Ionic.
// Ionic will use its default values when a custom variable isn't provided.
@import "ionic.ios";


// App Shared Sass
// --------------------------------------------------
// All Sass files that make up this app goes into the app.core.scss file.
// For simpler CSS overrides, custom app CSS must come after Ionic's CSS.
@import 'app.core';


// App iOS Only Sass
// --------------------------------------------------
// CSS that should only apply to the iOS app
ion-buttons {
	display: flex;
	flex-direction: row;
}

ion-buttons[end], ion-buttons[right] {
	flex-direction: row-reverse;
}

ion-buttons > .bar-button-menutoggle {
	order: 0;
	margin: 0;
	padding: 0;
}

ion-buttons > .button, ion-buttons > .bar-button {
	flex: 0 1 auto;
}

ion-buttons > .bar-button {
	min-width: 36px;
}